<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ 'file.downloads' | transloco }} <br />
        <strong> {{ modalFileName }}</strong>
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="level">
        <!-- Left side -->
        <div class="level-item has-text-centered">
          <p>
            <strong>{{ modalFileName }}</strong>
            {{ 'has.been.downloaded' | transloco }}
            <strong>{{ fileLogs.length }}</strong> {{ 'times' | transloco }}
          </p>
        </div>
      </div>

      <div class="level share">
        <div class="level-right"></div>
      </div>

      <table class="table">
        <caption>
          {{ 'statistics' | transloco }}
        </caption>
        <thead>
          <tr>
            <th
              ><abbr title="Downloader">{{
                'downloader' | transloco
              }}</abbr></th
            >
            <th
              ><abbr title="Date">{{ 'date' | transloco }}</abbr></th
            >
            <th
              ><abbr title="Link">{{ 'download.link' | transloco }}</abbr></th
            >
          </tr>
        </thead>
        <tbody>
          @for (fileLog of fileLogs; track fileLog; let i = $index) {
          <tr [attr.data-index]="i">
            <td>
              @if (fileLog.recipient !== '') {
              <span>
                {{
                  fileLog.recipient.length > 35
                    ? (fileLog.recipient | lowercase | slice: 0:35) + '..'
                    : ((fileLog.recipient === ''
                        ? 'Anonymous'
                        : fileLog.recipient
                      ) | lowercase)
                }}
              </span>
              }
            </td>
            <td>
              {{ fileLog.downloadDate }}
            </td>
            <td>
              {{ formatLink(fileLog.downloadLink) }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button
        class="modal-close is-large"
        (click)="closeModal()"
        aria-label="close"
      ></button>
    </footer>
  </div>
</div>
