<mat-tab-group (selectedIndexChange)="selectedTabIndex.set($event)">
  <mat-tab label="Waiting">
    @defer (when selectedTabIndex() === 0) {
      <app-abuse-tab
        [reportStatus]="'WAITING'"
        (showListEvent)="showList($event)"
        (deleteEvent)="delete($event)"
        (approveEvent)="approveReport($event)"
        (denyEvent)="denyReport($event)"
        [abuseReportsDetailsMap]="abuseReportsDetailsMap"
      ></app-abuse-tab>
    }
  </mat-tab>

  <mat-tab label="Approved">
    @defer (when selectedTabIndex() === 1) {
      <app-abuse-tab
        [reportStatus]="'APPROVED'"
        (showListEvent)="showList($event)"
        (deleteEvent)="delete($event)"
        (approveEvent)="approveReport($event)"
        (denyEvent)="denyReport($event)"
        [abuseReportsDetailsMap]="abuseReportsDetailsMap"
      ></app-abuse-tab>
    }
  </mat-tab>

  <mat-tab label="Denied">
    @defer (when selectedTabIndex() === 2) {
      <app-abuse-tab
        [reportStatus]="'DENIED'"
        (showListEvent)="showList($event)"
        (deleteEvent)="delete($event)"
        (approveEvent)="approveReport($event)"
        (denyEvent)="denyReport($event)"
        [abuseReportsDetailsMap]="abuseReportsDetailsMap"
      ></app-abuse-tab>
    }
  </mat-tab>
</mat-tab-group>
