<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th></th>
            <th>Uploader</th>
            <th>Number of Reports</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let abuseReportsForFile of abuseReportsDetailsMap | keyvalue">
            <ng-container *ngIf="abuseReportsForFile.value[0].status === reportStatus">
                <td> {{ abuseReportsForFile.value[0].filename }}</td>
                <td class="icon-cell"><a (click)="tryDownload(abuseReportsForFile.value[0])" target="_blank" rel="noopener noreferrer"
                        title="Download"><i class="material-icons">download</i></a>
                </td>
                <td>{{ abuseReportsForFile.value[0].uploader_email }}</td>
                <td>
                    <a (click)="showList(abuseReportsForFile.value)">{{ abuseReportsForFile.value.length }}</a>
                </td>
                <td>
                    <button class="button" (click)="showList(abuseReportsForFile.value)">
                        <i class="material-icons">list</i>&nbsp;Show List
                    </button>
                    <button class="button" *ngIf="reportStatus === 'WAITING' || reportStatus === 'DENIED'"
                        (click)="approveReport(abuseReportsForFile.value[0])">
                        <i class="material-icons">check</i>&nbsp;Approve
                    </button>
                    <button class="button" *ngIf="reportStatus === 'WAITING' || reportStatus === 'APPROVED'"
                        (click)="denyReport(abuseReportsForFile.value[0])">
                        <i class="material-icons">block</i>&nbsp;Deny
                    </button>
                    <button class="button" (click)="delete(abuseReportsForFile.value[0])">
                        <i class="material-icons">delete</i>&nbsp;Delete
                    </button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>