<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Reporter</th>
            <th>File</th>
            <th>Reason</th>
            <th>Uploader</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let abuseReport of abuseReportsDetails">

            <td>
                <i class="material-icons"
                   [ngClass]="{'green-icon': abuseReport.status, 'red-icon': !abuseReport.status}">
                  {{ abuseReport.status ? 'done' : 'close' }}
                </i>
              </td>
              
            <td>{{abuseReport.reporter}}</td>
            <td>{{abuseReport.filename }}</td>
            <td>{{abuseReport.reason | transloco}}</td>
            <td>{{abuseReport.uploader_email }}</td>
            <td>{{abuseReport.date | date:'dd-MM-yyyy'}}</td>
            
            <td><button class="button" (click)="onOpen(abuseReport)"><i class="material-icons">done</i>&nbsp;Open</button></td>
            <td><button class="button" (click)="onDelete(abuseReport.id)"><i class="material-icons">delete</i>&nbsp;Delete</button></td>
        </tr>
    </tbody>
</table>

