.column {
  margin: auto;
}

img {
  display: block;
  padding: 1em;
  margin: auto;
}

.shorturl {
  margin-right: 10px;
  width: 100%;
}

.table td {
  vertical-align: middle;
}

.table {
  width: 100%;
}

.tdbutton {
  width: fit-content;
}

.modal-card {
  margin-top: 100px;
  width: 800px;
}

.qr-code-container {
  display: flex;
  justify-content: center;
}

.qr-code-container:hover {
  cursor: zoom-in;
}

.modal-card {
  margin-top: 100px;
  width: 300px;
}

.modal-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
