<label class="label">Email:</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <input
      #input
      [disabled]="disabled"
      (blur)="onTouched()"
      (input)="onChange($event.target.value)"
      (keyup.enter)="sendClick()"
      class="input"
      type="text"
      placeholder="Name.SURNAME@email.com"
    />
    <p class="help is-danger" [hidden]="!errorMessage">{{ errorMessage }}</p>
  </div>
  <p class="control">
    <button
    *ngIf="showAddRecipient"
      [disabled]="errorMessage || input.value === ''"
      (click)="sendClick()"
      type="button"
      class="button"
    >
      Add Recipient
    </button>
  </p>
</div>
