<label class="label">{{ 'email' | transloco }}</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <input
      #input
      [disabled]="disabled"
      (blur)="onTouched()"
      (input)="onChange($event.target.value)"
      (keyup.enter)="addRecipient()"
      (focusout)="addRecipient()"
      class="input"
      type="text"
      [attr.placeholder]="'please.enter.email' | transloco"
    />
    <p class="help is-danger" [hidden]="!errorMessage">{{ errorMessage }}</p>
  </div>
  <p class="control">
    @if (showAddRecipient) {
    <button
      [disabled]="errorMessage || input.value === ''"
      (click)="addRecipient()"
      type="button"
      class="button"
    >
      {{ 'add.recipient' | transloco }}
    </button>
    }
  </p>
</div>
