<table
  mat-table
  [dataSource]="data"
  matSort
  matSortActive="created"
  matSortDisableClear
  matSortDirection="desc"
>
  <ng-container matColumnDef="uploader_email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploader Email </th>
    <td mat-cell *matCellDef="let element"> {{ element.uploader_email }} </td>
  </ng-container>

  <ng-container matColumnDef="share_email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Share Email </th>
    <td mat-cell *matCellDef="let element"> {{ element.share_email }} </td>
  </ng-container>

  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
    <td mat-cell *matCellDef="let element"> {{ element.filename }} </td>
  </ng-container>

  <ng-container matColumnDef="file_size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Size </th>
    <td mat-cell *matCellDef="let element"> {{ element.file_size }} </td>
  </ng-container>

  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Path </th>
    <td mat-cell *matCellDef="let element"> {{ element.path }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> File state </th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      Created
    </th>
    <td mat-cell *matCellDef="let element"> {{ element.created }} </td>
  </ng-container>

  <ng-container matColumnDef="shorturl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Short URL </th>
    <td mat-cell *matCellDef="let element"> {{ element.shorturl }} </td>
  </ng-container>

  <ng-container matColumnDef="download_notification">
    <th mat-header-cell *matHeaderCellDef> Download Notification </th>
    <td mat-cell *matCellDef="let element">
      {{ element.download_notification }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="resultsLength"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
>
</mat-paginator>
<p></p>
<div class="download-container">
  <mat-icon
    (click)="downloadFile()"
    class="download-icon"
    title="Download as CSV"
    >file_download</mat-icon
  >
</div>
