
@import '../../variables.scss';
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:10px;
}

p {
  margin-left: 10px;
}

ul {
  border: 1px solid #ccc;
  border-radius: 4px;
}


.tabs mat-tab-group {
  padding-top: 100px;
  width: 100% !important;
}

.pagination {
  margin-top: 1em;
}

.user-info-row {
  display: flex;
  align-items: center;
}

.user-info-column {
  flex: 1;
  text-align: center;
  padding: 5px;
  width: 50px;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.titletable {
  background-color: rgba(155, 214, 217, 0.4509803922);
}




.user-list {
  display: flex;
  flex-direction: column;
}



.columns {
  background-color: $background;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 0.5rem;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
  min-width: 75px;
}

.titletable {
  background-color: rgba(155, 214, 217, 0.4509803922);
}

table td {
  padding-left: 3px;
 
}
table th {
  padding-left: 3px;
 
}
