<div class="headertitle">
  <h1 class="title">{{ 'administration' | transloco }}</h1>
</div>
<div class="tabs">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="custom-tab-group"
    (selectedIndexChange)="selectedTabChanged($event)"
  >
    <mat-tab class="mat-tab custom-tab">
      <ng-template mat-tab-label>
        <i class="material-icons">group</i> Users
      </ng-template>

      @defer (when selectedTabIndex() === 0) {
      <div class="centered">
        <h1 class="title">Users</h1>
        <app-user-admin></app-user-admin>
      </div>
      }
    </mat-tab>

    <mat-tab label="Disk usage">
      <ng-template mat-tab-label>
        <i class="material-icons">storage</i> Disk usage
      </ng-template>
      @defer (when selectedTabIndex() === 1) {
      <div class="centered">
        <h1 class="title">Disk usage</h1>
        <table>
          <tr>
            <th>Mount path</th>
            <th>Total size</th>
            <th>Free space</th>
            <th>Used (in %)</th>
          </tr>
          @for (mp of mountPointSpaces; track mp) {
          <tr>
            <td>{{ mp.path }}</td>
            <td>{{ mp.totalSpace! | fileSizeFormat }}</td>
            <td>{{ mp.usableSpace! | fileSizeFormat }}</td>
            <td>
              {{
                math.round(
                  ((mp.totalSpace! - mp.usableSpace!) / mp.totalSpace! / 100) *
                    10000
                )
              }}
              %
            </td>
          </tr>
          }
        </table>
      </div>
      }
    </mat-tab>

    <mat-tab label="Statistics">
      <ng-template mat-tab-label>
        <i class="material-icons">bar_chart</i> Statistics
      </ng-template>
      @defer (when selectedTabIndex() === 2) {
      <div class="centered">
        <h1 class="title">Statistics</h1>

        <form #yearForm="ngForm">
          <div class="form-group">
            <label>Year:</label>
            <select
              id="years"
              name="years"
              [(ngModel)]="year"
              (change)="changeYear()"
              class="form-control"
            >
              @for (y of yearList; track y) {
              <option>{{ y }}</option>
              }
            </select>
          </div>
        </form>

        <table>
          <tr>
            <th>Month</th>
            <th><a (click)="updateGraph('users', 'Users')">Users</a></th>
            <th>
              <a (click)="updateGraph('uploads', 'Uploads')">Uploads</a>
            </th>
            <th>
              <a (click)="updateGraph('downloads', 'Downloads')">Downloads</a>
            </th>
            <th>
              <a (click)="updateGraph('uploadsData', 'Uploads Data')"
                >Uploads Data</a
              >
            </th>
            <th>
              <a (click)="updateGraph('downloadsData', 'Downloads Data')"
                >Downloads Data
              </a>
            </th>
          </tr>
          @for (month of stats; track month) {
          <tr>
            <td>{{ getMonthName(month.month) }}</td>
            <td>{{ month.users }}</td>
            <td>{{ month.uploads }}</td>
            <td>{{ month.downloads }}</td>
            <td>{{ month.uploadsData! | fileSizeFormat }}</td>
            <td>{{ month.downloadsData! | fileSizeFormat }}</td>
          </tr>
          }
          <tr>
            <td><b>Total</b></td>
            <td>
              <b>{{ yearStats.users }}</b>
            </td>
            <td>
              <b>{{ yearStats.uploads }}</b>
            </td>
            <td>
              <b>{{ yearStats.downloads }}</b>
            </td>
            <td>
              <b>{{ yearStats.uploadsData | fileSizeFormat }}</b>
            </td>
            <td>
              <b>{{ yearStats.downloadsData | fileSizeFormat }}</b>
            </td>
          </tr>
        </table>

        <app-bar-chart [chartData]="data"></app-bar-chart>
      </div>
      }
    </mat-tab>

    <mat-tab label="Trust Requests">
      <ng-template mat-tab-label>
        <i class="material-icons">lock</i> Trust Requests
      </ng-template>
      @defer (when selectedTabIndex() === 3) {
      <div class="centered">
        <h1 class="title">Trust Requests</h1>
        <app-trust></app-trust>
      </div>
      }
    </mat-tab>

    <mat-tab label="Moderation Queue">
      <ng-template mat-tab-label>
        <i class="material-icons">troubleshoot</i> Moderation Queue
      </ng-template>
      @defer (when selectedTabIndex() === 4) {
      <div class="centered">
        <h1 class="title">Moderation Queues</h1>
        <app-monitoring></app-monitoring>
      </div>
      }
    </mat-tab>

    <mat-tab label="Abuse Reports">
      <ng-template mat-tab-label>
        <i class="material-icons">feedback</i> Abuse Reports
      </ng-template>
      @defer (when selectedTabIndex() === 5) {
      <div class="centered">
        <h1 class="title">Abuse Reports</h1>
        <app-abuse></app-abuse>
      </div>
      }
    </mat-tab>

    <mat-tab label="Logs">
      <ng-template mat-tab-label>
        <i class="material-icons">receipt_long</i> Logs
      </ng-template>
      @defer (when selectedTabIndex() === 6) {
      <div class="centered">
        <h1 class="title">Logs</h1>
        <app-logs></app-logs>
      </div>
      }
    </mat-tab>
  </mat-tab-group>
</div>
