
@import '../../variables.scss';
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:10px;
}

p {
  margin-left: 10px;
}

ul {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination {
  margin-top: 1em;
}

.columns {
  background-color: $background;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 0.5rem;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
  min-width: 75px;
}
