<div class="centered">
  <h1 class="title">{{ "administration" | transloco }}</h1>
  <div class="columns">
    <div class="column is-one-half">
      <label class="label">{{ "user.search" | transloco }}</label>
      <input [(ngModel)]="searchString" class="input" type="text"
        [attr.placeholder]="'user.name.or.email' | transloco" />

      <a class="button" [class.is-loading]="searchIsLoading" (click)="search()">{{ "search" | transloco }}</a>
      <div *ngIf="isAfterSearch">
        <label class="alignleft" class="label">{{
          "results" | transloco
          }}</label>

        <div style="clear: both"></div>
        <ul class="menu-list">
          <li class="titletable">
            <a>
              <strong class="alignleft"> Name <fa-icon (click)="sortByName()" [icon]="faArrowDownWideShort"></fa-icon>
              </strong>
              <strong class="alignright">Files <fa-icon (click)="sortByFiles()" [icon]="faArrowDownWideShort"></fa-icon>
              </strong>
              <strong class="alignright">Usage <fa-icon (click)="sortByUsage()" [icon]="faArrowDownWideShort"></fa-icon>
              </strong>
              <div style="clear: both"></div>
            </a>
          </li>
          <li *ngFor="let userInfo of userInfoArray; let i = index" [attr.data-index]="i" value="userInfo.id"
            (click)="displayUserInfoNumber(i)">
            <a *ngIf="userInfo.usedSpace === 0"> {{ userInfo.givenName }} </a>

            <a *ngIf="userInfo.usedSpace > 0">
              <strong class="alignleft"> {{ userInfo.givenName }} </strong><strong class="alignright"> {{
                userInfo.filesCount }}</strong><strong class="alignright">{{ userInfo.usedSpace | fileSizeFormat }}
              </strong>
              <div style="clear: both"></div>
            </a>

            <a *ngIf="userInfo.usedSpace === 0"> {{ userInfo.givenName }} </a>
          </li>
        </ul>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          <a *ngIf="pageNumber > 0" class="pagination-previous button" (click)="resultsPreviousPage()">{{ "previous" |
            transloco }}</a>
          <a *ngIf="hasNextPage" class="pagination-next button" (click)="resultsNextPage()">{{ "next" | transloco }}</a>
        </nav>
      </div>
    </div>
    <div class="column is-one-half">
      <div *ngIf="isAfterSearch && isAfterSelected">
        <div>
          <label class="label">{{ "user.info" | transloco }}</label>
          <p *ngIf="!isChangePermissions && !selectedUserInfo.isAdmin">
            {{ "internal.user" | transloco }} : {{ selectedUserInfo.givenName }}
            <fa-icon [icon]="faUser"></fa-icon>
          </p>
          <p *ngIf="!isChangePermissions && selectedUserInfo.isAdmin">
            {{ "admin.user" | transloco }}: {{ selectedUserInfo.givenName }}
            <fa-icon [icon]="faUserTie"></fa-icon>
          </p>
          <div class="select" *ngIf="isChangePermissions">
            <select [(ngModel)]="selectedIsAdminValue">
              <option [ngValue]="false">
                {{ "internal.user" | transloco }}
              </option>
              <option [ngValue]="true" selected>
                {{ "admin.user" | transloco }}
              </option>
            </select>
          </div>
          <br *ngIf="isChangePermissions" />
          <p *ngIf="!isChangePermissions">
            {{ "total.space" | transloco }}:
            {{ selectedUserInfo.totalSpace | fileSizeFormat }}
          </p>
          <div class="select" *ngIf="isChangePermissions">
            <select [(ngModel)]="selectedValueInGigaBytes">
              <option *ngFor="let valueInGig of valuesInGigaBytes; let i = index" [attr.data-index]="i"
                [selected]="i === selectedValueInGigaBytesIndex" [ngValue]="valueInGig">
                {{ "total.space" | transloco }}: {{ valueInGig }} GB
              </option>
            </select>
          </div>
          <p>
            {{ "used.space" | transloco }}:
            {{ selectedUserInfo.usedSpace | fileSizeFormat }}
          </p>
          <p>
            {{ "free.space" | transloco }}:
            {{
            selectedUserInfo.totalSpace - selectedUserInfo.usedSpace
            | fileSizeFormat
            }}
          </p>
        </div>
        <a *ngIf="isChangePermissions" class="button" [class.is-loading]="changeIsLoading"
          (click)="changePermissions()">{{ "done" | transloco }}</a>
        <a *ngIf="isChangePermissions" class="button buttonMargin" (click)="toggleChangePermissions()">{{ "cancel" |
          transloco }}</a>
        <a *ngIf="!isChangePermissions" class="button" (click)="toggleChangePermissions()">{{ "change.permissions" |
          transloco }}</a>
        <a *ngIf="!isChangePermissions" class="button buttonMargin" (click)="goToUserUploadedFiles()">{{
          "display.shared.files" | transloco }}</a>
      </div>
    </div>


  </div>
  <p></p><br>
  <p></p>
  <h1 class="title">Disk usage</h1>
  <table>
    <tr>
      <th>Mount path</th>
      <th>Total size</th>
      <th>Free space</th>
      <th>Used (in %)</th>
    </tr>
    <tr *ngFor="let mp of mountPointSpaces">
      <td>{{ mp.path }}</td>
      <td>{{ mp.totalSpace! | fileSizeFormat }}</td>
      <td>{{mp.usableSpace! | fileSizeFormat }}</td>
      <td>{{ math.round( ((mp.totalSpace! - mp.usableSpace!) /mp.totalSpace! ) /100 *10000) }} %</td>
    </tr>
  </table>


  <p></p><br>
  <p></p>
  <h1 class="title">Statistics</h1>

  <form #yearForm="ngForm">  
             
    <div class="form-group">  
        <label>Year:</label>  
        <select id="years" name="years" [(ngModel)]="year" (change)="changeYear()" class="form-control">  
            <option *ngFor="let y of yearList">{{y}}</option>  
        </select>    
    </div>  
     
   
</form>  

  <table>
    <tr>
      <th> Month </th>
      <th> <a>Users</a> </th>
      <th> <a  (click)="updateGraph('uploads')">Uploads</a> </th>
      <th> <a  (click)="updateGraph('downloads')">Downloads</a> </th>
      <th> <a  (click)="updateGraph('uploadsData')">Uploads Data</a> </th>
      <th> <a  (click)="updateGraph('downloadsData')">Downloads Data </a></th>      
    </tr>
    <tr *ngFor="let month of stats">
      <td>{{ getMonthName(month.month) }}</td>
      <td>{{ month.users }}</td>
      <td>{{ month.uploads }} </td>
      <td>{{ month.downloads }}</td>
      <td>{{ month.uploadsData!  | fileSizeFormat }}</td>
      <td>{{ month.downloadsData! | fileSizeFormat }}</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td><b>{{ yearStats.users }}</b> </td>
      <td><b>{{ yearStats.uploads }}</b> </td>
      <td><b>{{ yearStats.downloads }}</b></td>
      <td><b>{{ yearStats.uploadsData | fileSizeFormat }}</b> </td>
      <td><b>{{ yearStats.downloadsData | fileSizeFormat}}</b></td>
    </tr>
  </table>


  <app-bar-chart [chartData]="data"></app-bar-chart>

</div>