
@import '../../variables.scss';
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:10px;
}

.mat-mdc-tab-content {
  background-color: white !important;
  border-right: 1px solid black !important;
}
.mat-mdc-tab-ripple {
  background-color: white !important;
}
.mat-tab-group {
  background-color: white !important;
}

p {
  margin-left: 10px;
}

ul {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.headertitle {
  padding-top: 50px;
  padding-bottom: 50px;
}


.tabs mat-tab-group {
  width: 100% !important;
}

.custom-tab-group {
  background-color: #f5f5f5;
  font-size: 18px;
}

.mat-tab.custom-tab .mat-tab-label {
  font-weight: bold;
  font-size: 16px;
}

.pagination {
  margin-top: 1em;
}

.user-info-row {
  display: flex;
  align-items: center;
}

.user-info-column {
  flex: 1;
  text-align: center;
  padding: 5px;
  display: block;
  min-width: 200px;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.titletable {
  background-color: rgba(155, 214, 217, 0.4509803922);
}




.user-list {
  display: flex;
  flex-direction: column;
}



.columns {
  background-color: $background;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 0.5rem;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
  min-width: 75px;
}

.titletable {
  background-color: rgba(155, 214, 217, 0.4509803922);
}

table td {
  padding-left: 3px;
 
}
table th {
  padding-left: 3px;
 
}
