<div *ngIf="file.status === 'AVAILABLE' || (  isAdminPage && file.status === 'ALLOCATED') " class="level filecontainer" >
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item has-text-centered">
      <fa-icon *ngIf="!file.hasPassword" [icon]="faFile"></fa-icon>
      <fa-icon *ngIf="file.hasPassword" [icon]="faLock"></fa-icon>
      <br />
      <p class="subtitle is-5 filename">
        <strong>
          {{
          file.name.length > 25 ? (file.name | slice: 0:25) + ".." : file.name
          }}
        </strong>
      </p>
    </div>
    <div class="level-item">
      <div class="level is-mobile">
        <div class="level-item">
          <div class="level-left">
            <p class="subtitle is-6">({{ file.size | fileSizeFormat }})</p>
          </div>
        </div>
        <div class="level-item">
          <div class="level-right">
            <p class="subtitle is-6">
              {{ "expires.on" | transloco }} {{ file.expirationDate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right side -->
  <div class="level">
    <div class="level-item">
      <a *ngIf="displayAsUploader" (click)="displayDownloads()">
        {{ "downloaded.times" | transloco: { count: file.fileLogs.length } }}
      </a>
    </div>
    <div *ngIf="displayAsUploader" class="level-item">&nbsp;|&nbsp;
    </div>
    <div class="level-item">
      <a *ngIf="displayAsUploader" (click)="displayRecipients()">
        {{ "shared.times" | transloco: { count: file.sharedWith.length } }}
      </a>
     <span *ngIf="isAdminPage"  [ngClass]="[ file.status === 'AVAILABLE' ? 'status-available' : 'status-fail-or-pending']" >( {{ file.status }} ) </span>
    </div>

    <div class="level-item">
      <div class="navbar-menu is-active" id="navMenu">
        <div class="navbar-item has-dropdown is-hoverable" (mouseenter)="displayMore()" (tap)="displayMore()"
          (mouseleave)="displayLess()">
          <a class="navbar-link">
            {{ "actions" | transloco }}
          </a>

          <div class="navbar-dropdown" *ngIf="isMoreDisplayed">
            <a class="navbar-item" *ngIf="displayAsUploader" (click)="openAddRecipientsModal()">{{
              "add.recipient" | transloco }}
            </a>
            <a class="navbar-item" (click)="tryDownload()">
              {{ "download" | transloco }}
            </a>

            <a class="navbar-item" *ngIf="!displayAsUploader" (click)="openExpirationDateModal()">{{
              "change.expirationdate" | transloco }}
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" *ngIf="displayAsAdministrator || displayAsUploader" (click)="delete()">
              {{ "delete" | transloco }}
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div *ngIf="isLoading">
  {{ percentageDownloaded }}%
  <progress class="progress is-success" value="{{ percentageDownloaded }}" max="100">{{ percentageDownloaded
    }}%</progress>
</div>
