<div class="columns">
  <div class="column is-one-half">
    <label class="label">{{ 'user.search' | transloco }}</label>
    <input
      [(ngModel)]="searchString"
      class="input"
      type="text"
      [attr.placeholder]="'user.name.or.email' | transloco"
    />
    <br />
    Active users : <input type="checkbox" [(ngModel)]="searchActive" />
    <br />
    <a class="button" [class.is-loading]="searchIsLoading" (click)="search()">{{
      'search' | transloco
    }}</a>
    @if (isAfterSearch) {
    <div>
      <label class="alignleft" class="label">{{ 'results' | transloco }}</label>

      <table>
        <thead>
          <tr>
            <th>
              <strong>Name</strong>
              <fa-icon
                (click)="sortByName()"
                [icon]="faArrowDownWideShort"
              ></fa-icon>
            </th>
            <th>
              <strong>Email</strong>
            </th>
            <th>
              <strong>Files</strong>
              <fa-icon
                (click)="sortByFiles()"
                [icon]="faArrowDownWideShort"
              ></fa-icon>
            </th>
            <th>
              <strong>Usage</strong>
              <fa-icon
                (click)="sortByUsage()"
                [icon]="faArrowDownWideShort"
              ></fa-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (userInfo of userInfoArray; track userInfo; let i = $index) {
          <tr
            [attr.data-index]="i"
            value="userInfo.id"
            (click)="displayUserInfoNumber(i)"
          >
            @if (userInfo.usedSpace === 0) {
            <td>{{ userInfo.givenName }}</td>
            } @if (userInfo.usedSpace === 0) {
            <td>{{ userInfo.email }}</td>
            } @if (userInfo.usedSpace === 0) {
            <td></td>
            } @if (userInfo.usedSpace === 0) {
            <td></td>
            } @if (userInfo.usedSpace > 0) {
            <td
              ><strong>{{ userInfo.givenName }}</strong></td
            >
            } @if (userInfo.usedSpace > 0) {
            <td
              ><strong>{{ userInfo.email }}</strong></td
            >
            } @if (userInfo.usedSpace > 0) {
            <td
              ><strong>{{ userInfo.filesCount }}</strong></td
            >
            } @if (userInfo.usedSpace > 0) {
            <td
              ><strong>{{ userInfo.usedSpace | fileSizeFormat }}</strong></td
            >
            }
          </tr>
          }
        </tbody>
      </table>

      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
      >
        @if (pageNumber > 0) {
        <a class="pagination-previous button" (click)="resultsPreviousPage()">{{
          'previous' | transloco
        }}</a>
        } @if (hasNextPage) {
        <a class="pagination-next button" (click)="resultsNextPage()">{{
          'next' | transloco
        }}</a>
        }
      </nav>
    </div>
    }
  </div>
  <div class="column is-one-half">
    @if (isAfterSearch && isAfterSelected) {
    <div>
      <div class="user-info-column2">
        <label>{{ 'user.info' | transloco }}</label>
        <div
          >{{ selectedUserInfo.givenName }} ({{ selectedUserInfo.email }})</div
        >
        @if (!isChangePermissions) {
        <p>
          Role: {{ selectedUserRole }}
          <fa-icon
            [icon]="selectedUserInfo.isAdmin ? faUserTie : faUser"
          ></fa-icon>
        </p>
        } @if (!isChangePermissions) {
        <p> Status: {{ selectedUserStatus }} </p>
        } @if (isChangePermissions) {
        <div>
          <div>
            Role :
            <select
              [ngModel]="selectedUserRole"
              (ngModelChange)="confirmRoleChange($event)"
            >
              @for (role of roles; track role) {
              <option [ngValue]="role">{{ role }}</option>
              }
            </select>
          </div>
          <div>
            Status :
            <select [(ngModel)]="selectedUserStatus">
              @for (statu of status; track statu) {
              <option [ngValue]="statu">{{ statu }}</option>
              }
            </select>
          </div>
        </div>
        } @if (!isChangePermissions) {
        <p>
          {{ 'total.space' | transloco }}:
          {{ selectedUserInfo.totalSpace | fileSizeFormat }}
        </p>
        } @if (isChangePermissions) {
        <div>
          Quota :
          <select [(ngModel)]="selectedValueInGigaBytes">
            @for (valueInGig of valuesInGigaBytes; track valueInGig; let i =
            $index) {
            <option
              [attr.data-index]="i"
              [selected]="i === selectedValueInGigaBytesIndex"
              [ngValue]="valueInGig"
            >
              {{ valueInGig }} GB
            </option>
            }
          </select>
        </div>
        }
        <p
          >{{ 'used.space' | transloco }}:
          {{ selectedUserInfo.usedSpace | fileSizeFormat }}</p
        >
        <p>
          {{ 'free.space' | transloco }}:
          {{
            selectedUserInfo.totalSpace - selectedUserInfo.usedSpace
              | fileSizeFormat
          }}
        </p>
      </div>

      @if (isChangePermissions) {
      <a
        class="button"
        [class.is-loading]="changeIsLoading"
        (click)="changePermissions()"
        >{{ 'done' | transloco }}</a
      >
      } @if (isChangePermissions) {
      <a class="button buttonMargin" (click)="toggleChangePermissions()">{{
        'cancel' | transloco
      }}</a>
      } @if (!isChangePermissions) {
      <a class="button" (click)="toggleChangePermissions()">{{
        'change.permissions' | transloco
      }}</a>
      } @if (!isChangePermissions) {
      <a class="button buttonMargin" (click)="toggleUploadedFiles()">{{
        'display.shared.files' | transloco
      }}</a>
      } @if (showUploadedFiles) {
      <div>
        <div class="buttons-top-right">
          <button (click)="freezeAllFiles()">Freeze All Files</button>
          <button (click)="unfreezeAllFiles()">Unfreeze All Files</button>
        </div>
        <div class="centered">
          <app-uploaded-file-row-container
            [userId]="this.selectedUserInfo.id"
            [displayAsUploader]="false"
            [displayAsAdministrator]="true"
          ></app-uploaded-file-row-container>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
