/** ------------------------------------------ EC TEMPLATE  ------------------------------------------ **/
/** --------------------- COLOURS  --------------------- **/
/** PRIMARY COLOURS **/
$ec-blue: #004494;
$ec-light-blue: #034da1; // flag colour
$ec-yellow: #ffd617;
$ec-green: #467a39;
$ec-grey: #404040;
$ec-red: #da2131;
$ec-light-grey: #f5f5f5;
$ec-white: #fff;

$pastel-light-red: #ed8e89;
$pastel-light-orange: #f7b685;
$pastel-light-yellow: #f3eba5;
$pastel-light-green: #94c691;
$pastel-light-blue: #9bd6d9;
$pastel-light-light-blue: #9bd6d973;

$pastel-green: #8bc90b;
$pastel-yellow: #f4e02b;
$paste-orange: #efa43a;
$pastel-red: #e84947;
$pastel-blue: #39a7de;

/** NOTIFICATION COLOURS **/
$ec-notification-blue: #006fb4;
$ec-notification-yellow: #f29527;
$ec-notification-green: #467a39;
$ec-notification-red: #da2131;

/** BACKGROUND COLOUR **/
$ec-background-color: #ffffff;

/** --------------------- TYPOGRAPHY  --------------------- **/
$ec-font-family: Arial, sans-serif;
$ec-font-size: 0.75rem; //12px
$ec-font-weight: 400;
$ec-bold-font-weight: 600;
$ec-font-color: #5b5b5b;
// line long 75-85 characters

/** HEADING 1 **/
$ec-font-size-h1-desktop: 2rem;
$ec-font-size-h1-mobile: 1.75rem;

/** HEADING 2 **/
$ec-font-size-h2-desktop: 1.75rem;
$ec-font-size-h2-mobile: 1.5rem;

/** HEADING 3 **/
$ec-font-size-h3-desktop: 1.5rem;
$ec-font-size-h3-mobile: 1.25rem;

/** HEADING 4 **/
$ec-font-size-h4-desktop: 1.25rem;
$ec-font-size-h4-mobile: 1.125rem;

/** HEADING 5 **/
$ec-font-size-h5-desktop: 1rem;
$ec-font-size-h5-mobile: 1rem;

/** PARAGRAPH **/
$ec-p-font-weight: 400;

/** --------------------- ELEMENTS  --------------------- **/
/** NAVBAR **/
$ec-navbar-item-hover-background-color: $ec-light-blue;
$ec-navbar-background-color: $ec-white;
$ec-navbar-item-color: $ec-light-grey;
$ec-navbar-item-hover-color: $ec-light-grey;
$ec-navbar-height: 3.5rem;
$ec-navbar-box-shadow-size: 2px;
$ec-navbar-box-shadow-color: rgba(0, 0, 0, 0.3);

/** TITLE **/
$ec-title-color: #035;
$ec-title-size: 24px;

$ec-subtitle-weight: 300;

/** MENU **/
$ec-menu-item-hover-background-color: $pastel-light-light-blue;
$ec-menu-item-active-background-color: $pastel-light-light-blue;

/** COOKIE CONSENT KIT **/
.cookie-consent-banner {
  position: fixed !important;
  bottom: 1px;
  max-width: 100% !important;
  width: 100% !important;
}
