@import "./style.ec.scss";
@import "./style.circabc.global.scss";

/** ------------------------------------------ BULMA TEMPLATE  ------------------------------------------ **/
/** --------------------- ELEMENTS --------------------- **/
/** ----------- NAVBAR ---------- **/
$navbar-height: $ec-navbar-height;
$navbar-box-shadow-size: 2px;
$navbar-box-shadow-color: rgba(0,0,0,.3);
$navbar-item-color: #5b5b5b;

/** ----------- TITLE ---------- **/
$title-color: $ec-title-color;
$title-size: $ec-title-size;

$subtitle-weight: $ec-subtitle-weight;

/** ----------- MENU ------------ **/
$menu-item-radius: 3px;
$menu-item-hover-background-color: $ec-menu-item-hover-background-color;
$menu-item-active-background-color: $ec-menu-item-active-background-color;

/** --------------------- COLOURS  --------------------- **/
/** COLOURS **/
$scheme-main: $ec-background-color;
$blue: $ec-blue;
$red: $pastel-red;
$yellow: $pastel-yellow;
$green: $pastel-green;

/** --------------------- TYPOGRAPHY  --------------------- **/
$family-sans-serif: verdana, helvetica, sans-serif;
$family-secondary: "Ubuntu", verdana, Helvetica, sans-serif;

$font-color: $ec-font-color;

$body-size: 11.5px;
$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.15rem;
$size-6: 1.15rem;
$size-7: 0.75rem;


.centered {
  margin-top: 30px;
  margin-bottom: 4rem;
  min-height: 28rem;
  padding: 2px;
}

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass";

.button {
  background: linear-gradient(180deg, #8dcb6c 0, #58c37e) !important;
  color: #fff;
  font-family: "Ubuntu", verdana, helvetica, sans-serif;
  text-transform: uppercase;
  background: #8dcb6c;
}

.button:hover {
  background: #58c37e !important;
  color: #fff;
}

.filecontainer {
  background-color: $table-striped-row-even-background-color;
  padding: $table-cell-padding;
  border-radius: $radius;
  border: $table-cell-border;
  margin: 2px;
}

.filecontainer:hover {
  background-color: $table-striped-row-even-hover-background-color;
}

.filename {
  margin-left: 5px;
}

#navMenu {
  border-radius: $radius;
}

.imageBackground {
  background-image: url("/src/assets/eushareBackground.jpg");
  padding-top: 1em;
  padding-left: 22%;
  margin-left: -22%;
  padding-right: 22%;
  margin-right: -22%;
}

.centeredText {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 20em;
  background-color: white;
  border-radius: 0.2em;
  padding: 1em;
  min-width: 33%;
}


