<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="home">
        <fa-icon class="icon is-large" [icon]="faShareAlt" size="2x"></fa-icon>
        <p *ngIf="!loggedIn">EUShare</p>
      </a>
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        [class.is-active]="isBurgerActive"
        (click)="toggleBurger()"
        data-target="myMenu"
        *ngIf="loggedIn"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      id="menu"
      class="navbar-menu"
      id="myMenu"
      [class.is-active]="isBurgerActive"
    >
      <div *ngIf="loggedIn" class="navbar-start">
        <a
          (click)="toggleBurger()"
          routerLinkActive="tab--current"
          class="navbar-item is-family-secondary my-shared-files"
          routerLink="home"
        >
          <span class="spanlabel">{{
            "my.shared.files" | transloco
          }}</span>
        </a>
        <a
          (click)="toggleBurger()"
          routerLinkActive="tab--current"
          class="navbar-item is-family-secondary shared-with-me"
          routerLink="download"
        >
          <span class="spanlabel"
            >{{ "shared.with.me" | transloco }}
          </span>
        </a>
        <a
          (click)="toggleBurger()"
          routerLinkActive="tab--current"
          *ngIf="isAdmin"
          class="navbar-item is-family-secondary administration"
          routerLink="administration"
        >
          <span class="spanlabel"
            >{{ "administration" | transloco }}
          </span>
        </a>
      </div>
      <div class="navbar-end">
        <div *ngIf="loggedIn" class="navbar-item is-family-secondary">
          <button
            (click)="toggleBurger()"
            class="button is-info"
            routerLink="upload"
          >
            <span class="icon is-small">
              <fa-icon class="faIcon" [icon]="faShare"></fa-icon>
            </span>
            {{ "share.a.new.file" | transloco }}
          </button>
        </div>
        <div (click)="toggleBurger()" *ngIf="loggedIn" class="navbar-item">
          <button
            class="button is-danger is-family-secondary"
            (click)="logout()"
          >
            <span class="icon is-small">
              <fa-icon class="faIcon" [icon]="faSignOutAlt"></fa-icon>
            </span>
            {{ "logout" | transloco }}
          </button>
        </div>
        <a
          routerLink="myUser"
          *ngIf="loggedIn"
          class="navbar-item is-family-secondary"
        >
          {{ "logo.as.user" | transloco: { userName: userName } }}
        </a>
      </div>
    </div>
  </div>
</nav>
