
.column {
  margin: auto;
}

img {
  display: block;
  padding: 1em;
  margin: auto;
}


.shorturl {
  margin-right: 10px;
  width: 100%;
}

.table td {
  vertical-align: middle;
}

.table {
  width: 100%;
 }

.tdbutton {
width: fit-content;
}

.modal-card {
   margin-top: 100px;
   width: 800px;
}