<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-menu">
      <div *ngIf="loggedIn" class="navbar-start">
        <a class="navbar-item" routerLink="home">
          <fa-icon [icon]="faUsers"></fa-icon>
          My shared files
        </a>
        <a class="navbar-item" routerLink="upload">
          <fa-icon [icon]="faShare"></fa-icon>
          Share a new file
        </a>
        <a class = "navbar-item" routerLink="upload">
          <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
          Shared with me
        </a>
      </div>
      <div *ngIf="!loggedIn" class="navbar-start">
          <h1 class="navbar-item">
              <fa-icon [icon]="faShareAlt"></fa-icon>
               Welcome to EasyShare !
          </h1>
      </div>
      <div class="navbar-end">
        <div *ngIf="loggedIn" class="navbar-item">
            Logged as {{userName}}
        </div>
        <div *ngIf="loggedIn" class="navbar-item">
          <button class="button is-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>