<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        File shares <br />
        <strong> {{ modalFileName }}</strong>
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="level">
        <!-- Left side -->
        <div class="level-item has-text-centered">
          <p>
            <strong>{{ modalFileName }}</strong> is shared
            <strong>{{ recipients.length }}</strong> time(s)
          </p>
        </div>
      </div>

      <div class="level share">
        <div class="level-left">

          <div class="level-item">
            <div class="notif">
              <span class="shorturl"> <strong>Links</strong></span>
              <span> <strong>Notifications</strong> </span>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">

          </div>
        </div>
      </div>

      <div class="level share" *ngFor="let recipient of recipients; let i = index" [attr.data-index]="i">
        <div class="level-left">

          <div class="level-item">
            <div class="notif">
              <input class="input shorturl" type="text" value="{{ formatLink(i) }}" />
              <label *ngIf="recipient.email !== ''">
                {{
                recipient.email.length > 35 ? (recipient.email | lowercase | slice: 0:35) + ".." : (recipient.email |
                lowercase)
                }}
              </label>

            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a *ngIf="recipient.email !== ''" class="button" (click)="deleteShare( recipient.email, i)">Remove</a>
            <a class="button" (click)="copyLink(i)">Copy</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
    </footer>
  </div>
</div>