<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ 'file.shares' | transloco }} : <strong> {{ modalFileName }}</strong>
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">

      <table class="table">
        <thead>
          <tr>
            <th>
              <abbr title="Notifications"> Upload notification </abbr>
            </th>
            <th>
              <abbr title="Upload"> Download notification </abbr>
            </th>
            <th>
              <abbr title="Links">{{ 'links' | transloco }} </abbr>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (recipient of recipients; track recipient; let i = $index) {
          <tr [attr.data-index]="i">
            <td>
              @if (recipient.email) {
              <span>
                {{
                recipient.email.length > 35
                ? (recipient.email | lowercase | slice : 0 : 35) + '..'
                : (recipient.email | lowercase)
                }}
              </span>
              }
            </td>
            <td>
              <input type="checkbox" id="download_notification" class="checkbox"
                [checked]="recipient.downloadNotification" (change)="
                  modifyDownloadNotification(recipient, $event.target.checked)
                " />
            </td>
            <td class="shorturl">
              <input class="input" type="text" value="{{ formatLink(i) }}" />
            </td>
            <td>
              <button mat-icon-button (click)="showQRCode(i)">
                <mat-icon>qr_code_scanner</mat-icon>
              </button>
            </td>
            <td>
              <a class="button" (click)="copyLink(i)">{{ 'copy' | transloco }}
              </a>
            </td>
            <td>
              @if (recipient.email !== '') {
              <a class="button" (click)="deleteShare(recipient.email, i)">{{ 'remove' | transloco }}
              </a>
              }
            </td>
            <td>
              @if (recipient.email !== '') {
              <a class="button" (click)="reminderShare(recipient.email)">{{ 'send.reminder' | transloco }}
              </a>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
    </footer>
  </div>
</div>


<div class="modal" [class.is-active]="qrCodeModalActive" id="qr-code-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">QR Code</p>
      <button class="delete" aria-label="close" (click)="qrCodeModalActive = false"></button>
    </header>
      <section class="modal-card-body">
        <qrcode [qrdata]="qrCodeData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </section>
  </div>
</div>