<h1 class="title">Uploaded Files</h1>
<app-password-modal></app-password-modal>
<app-file-link-modal></app-file-link-modal>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Expiration Date</th>
      <th>Shared with</th>
      <th class="align-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of fileInfoUploaderArray let i = index" [attr.data-index]="i">
      <td>{{file.name}}
        <fa-icon *ngIf="file.hasPassword" [icon]="faLock"></fa-icon>
      </td>
      <td>{{file.expirationDate}}</td>
      <td>
        <span *ngFor="let share of file.sharedWith.sort() let j = index" [attr.data-index]="j">
          {{share.emailOrName}}
          <a title="Remove the link to the file for {{share.emailOrName}}"
            (click)="deleteShare(file.fileId, file.name, share.recipientId, share.emailOrName, i,j)">
            <fa-icon [icon]="faUserTimes"></fa-icon>
          </a>
          <a title="Display the link to the file for {{share.emailOrName}}"
            (click)="openFileLinkModal(share.downloadLink , file.name, file.hasPassword)">
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
          </a>
          <br>
        </span>
      </td>
      <td class="align-right">
        <a class="button is-danger is-outlined" (click)="delete(i)">Delete</a>
        <a *ngIf="file.hasPassword" class="button is-link is-outlined"
          (click)="openPasswordModal(file.fileId, file.name)">Download</a>
        <app-download-button *ngIf="!file.hasPassword" [fileId]="file.fileId" [fileName]="file.name" [buttonIsOutlined]="true"></app-download-button>
      </td>
    </tr>
  </tbody>
</table>