<div class="field captcha-image-box">
  <div class="captcha-img">
    <img id="imageCaptcha" src="{{ captchaImage }}" alt="" />
  </div>

  <div class="field">
    <label for="answer" class="mandatory">{{'label.answer' | transloco}}</label>
    <input id="answer" type="text" [formControl]="answer" />
  </div>

  <div class="captcha-buttons">
    <div>Can't read this?</div>
    <div class="captcha-button">
      <a (click)="refresh()">
        <img src="img/icon-autoupload-blue.svg" alt="" width="20px" />
        <span  class="button"><i class="material-icons">refresh</i>{{ 'label.refresh' | transloco }}</span>
      </a>
    </div>

    <div class="captcha-button">
      <audio
        #playAudio
        autostart="1"
        [src]="audioCaptcha"
        id="audioCaptcha"
        onplay="onPlayAudio()"
      ></audio>

      <a (click)="playAudio.play()">
        <img src="img/icon-audio-blue.svg" alt="" width="20px" />
        <span  class="button"><i class="material-icons">volume_up</i>{{ 'label.captcha.audio' | transloco }}</span>
      </a>
    </div>

    <div>Powered by EU CAPTCHA</div>
  </div>
</div>


