@keyframes ui-message-shown {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
.ui-message-show {
    opacity: 0;
    animation-name: ui-message-shown;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes ui-message-destroyed {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ui-message-destroy {
  opacity: 0;
  animation-name: ui-message-destroyed;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
