
<app-cbc-header></app-cbc-header>
<app-navbar></app-navbar>
<app-share-with-users-modal></app-share-with-users-modal>
<app-statistics-modal></app-statistics-modal>
<app-download-modal></app-download-modal>
<app-file-link-modal></app-file-link-modal>
<app-add-recipients-modal></app-add-recipients-modal>
<app-delete-confirm-modal></app-delete-confirm-modal>
<div class="container">
    <app-notification-system></app-notification-system>
    <router-outlet></router-outlet>
</div>
<app-download-card *ngIf="showRightDownload"></app-download-card>
<!-- <app-footer></app-footer> -->
