<app-cbc-header></app-cbc-header>
<app-navbar></app-navbar>
<app-share-with-users-modal></app-share-with-users-modal>
<app-download-modal></app-download-modal>
<app-file-link-modal></app-file-link-modal>
<app-statistics-modal></app-statistics-modal>
<app-add-recipients-modal></app-add-recipients-modal>
<app-delete-confirm-modal></app-delete-confirm-modal>
<app-change-expiration-date-modal></app-change-expiration-date-modal>
<app-delete-confirm-modal></app-delete-confirm-modal>
<app-overwrite-confirm-modal></app-overwrite-confirm-modal>
<div class="container">
    <app-notification-system></app-notification-system>
    <router-outlet></router-outlet>
</div>
<cbc-footer></cbc-footer>
<app-maintenance-modal></app-maintenance-modal>