<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <div style="width: 75%; text-align: center; font-size: 3rem; font-weight: bold;">
      <p>We are sorry but CIRCABC-Share is under maintenance.</p>
       <br/>
    </div>
    <div style="width: 75%; text-align: center; font-size: 2rem; font-weight: bold;">
  
        <p>In case of an urgent need to share files, you can use our acceptance server : (https://circabc.acceptance.europa.eu/share)</p>
      </div>
  </div>


  