<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="input is-info" type="password" placeholder="Type password here" #passwordInput>
      </div>
      <div class="control">
        <app-download-button [fileId]="modalFileId" [fileName]="modalFileName" [filePassword]="passwordInput.value"
          [buttonIsOutlined]="false"></app-download-button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>