<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="input {{isWhat}}" (keyup.enter)="download(passwordInput.value)"
          type="password" placeholder="Type password here" #passwordInput>
      </div>
      <div class="control">
        <button class="button is-info" [class.is-loading]="isLoading"
          (click)="download(passwordInput.value)">Download</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>