<mat-tab-group>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">person</i> Last Logins
      </ng-template>
      <app-last-logs></app-last-logs>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">cloud_upload</i> Last Uploads
      </ng-template>
      <app-last-uploads></app-last-uploads>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">cloud_download</i> Last Downloads
      </ng-template>
      <app-last-downloads></app-last-downloads>
    </mat-tab>
  
  </mat-tab-group>
  