<div class="centered">
  <h1 class="title">{{ "share.a.new.file" | transloco }}</h1>
  <h2 class="subtitle is-family-secondary is-uppercase">
    {{ "you.can.upload.up.to" | transloco }}
    {{ leftSpaceInBytes | fileSizeFormat }} ({{
    totalSpaceInBytes | fileSizeFormat
    }}
    {{ "quota" | transloco }})
  </h2>


  <div *ngIf="isUserExternal()" class="upgrade-link">
     <a (click)='openTrustDialog()' > {{ "upgrade.account" | transloco }} </a>
  </div>
  <div class="formContainer">
    <form [formGroup]="uploadform" (ngSubmit)="submit()" #f="ngForm">
      <div>
        <!-- DRAG AND DROP-->
        <div class="field">
          <label class="label">{{ "file" | transloco }}</label>
          <div class="file has-name is-boxed" [class.has-name]="getFileFromDisk() !== undefined">
            <label class="file-label">
              <!-- INPUT -->
              <input appEsFileInput id="fileFromDisk" data-cy="file-input" class="file-input" type="file"
                formControlName="fileFromDisk" />
              <span class="button cta--plus is-bigger">
                <span class="file-label">
                  {{ "add.file" | transloco }}
                </span>
              </span>
              <!-- FILE SIZE AND NAME -->

              <span *ngIf="getFileFromDisk()" class="file-name">
                {{ getFileFromDisk().name }}
                ({{ getFileFromDisk().size }} Bytes)
              </span>
            </label>
          </div>
        </div>
        <div class="field">
          <!-- DRAG AND DROP BOX  -->
          <div (drop)="drop($event)" class="container">
            <div class="notification dragAndDrop">
              {{ "drop.file" | transloco }}
            </div>
          </div>
        </div>
      </div>
      <br />

      <div (click)="toggleMoreOptions()" class="is-info">
        <span class="button cta--dots is-bigger">
          <span class="file-label">
            {{ "more.advanced" | transloco }}
          </span>
        </span>
      </div>

      <!-- EMAILS AND USER NAMES -->
      <div class="field" *ngIf="moreOptions">
        <br />
        <div class="field fieldset">
          <label class="label legend">{{
            "upload.notification" | transloco
            }}</label>
          <div class="field-body">
            <div class="field is-narrow"> </div>
          </div>
          <div formArrayName="emailMessageArray" class="column is-half-desktop emailColumn"> {{
            'upload.notification.help' | transloco }}
            <div [formGroupName]="i" *ngFor="
                let emailAndMessageFg of emailMessageArray.controls;
                let i = index
              " class="media">
              <div class="media-content">
                <!-- EMAIL ARRAY -->
                <div formArrayName="emailArray">
                  <div [formGroupName]="j" *ngFor="
                      let emailIndexed of getEmailArrayOnForm(
                        emailAndMessageFg
                      );
                      let j = index
                    ">
                    <!-- DISPLAYED EMAILS -->
                    <div class="displayedEmail">
                      {{ getEmailControlValue(i, j) }}
                      <a (click)="deleteEmailFormGroup(i, j)">
                        <fa-icon class="icon is-small" [icon]="faUserSlash"></fa-icon>
                      </a>
                    </div>
                    <div class="emailContainer" *ngIf="j === getEmailArrayLength(i) - 1"></div>
                  </div>
                </div>
                <app-email-input *ngIf="isShowEmailControl" (downClick)="addEmailFormGroup(i)"
                  [formControl]="emailControl"></app-email-input>
                <app-message-text-area formControlName="message"></app-message-text-area>
              </div>
            </div>
          </div>
        </div>
        <!-- EMAIL AND MESSAGES -->
      </div>
      <p></p>
      <br />
      <div class="field fieldset media-content" *ngIf="moreOptions">
        <label class="label legend">{{
          "file.password.optional" | transloco
          }}</label>
        <div class="column is-half-desktop emailColumn">
          <input id="password" formControlName="password" class="input"
            [attr.placeholder]="'password.on.file.download' | transloco" value="" />
        </div>
      </div>
      <br />

      <div class="field fieldset media-content" *ngIf="moreOptions">
        <label class="label legend">
          {{ 'download.notification' | transloco }}
        </label><br>
        <div class="field-body">
          <div class="field is-narrow"> </div>
        </div>
        <div class="column is-half-desktop emailColumn">
          <input type="checkbox" id="downloadNotification" formControlName="downloadNotification" class="checkbox"
           /> {{ 'download.notification.help' | transloco }}
        </div>
      </div>
      <br />
      <div *ngIf="userRole == 'EXTERNAL'" class="wrap-box captcha" >
        <cbc-captcha languageCode="en"></cbc-captcha>
      </div>
      <br /> <p></p>
      <div class="field">
        <button class="button" [class.is-loading]="uploadInProgress" type="submit" [disabled]="!uploadform.valid || (isCaptchaInValid() && userRole == 'EXTERNAL')"
          data-cy="submit">
          {{ "submit" | transloco }}
        </button>
      </div>
      <div *ngIf="uploadInProgress">
        {{ percentageUploaded }}%
        <progress class="progress is-success" value="{{ percentageUploaded }}" max="100">
          {{ percentageUploaded }}%
        </progress>
      </div>
    </form>
  </div>
</div>
