
@import "../../variables.scss";

.formContainer {
  background-color: $background;
  padding: 1.5rem;
  border-radius: 4px;
}

h2 {
  // font-weight: 300 !important;
  // font-size: 13px !important;
  text-transform: uppercase;
  // margin-bottom: 8px;
}

.is-bigger {
  width: 16rem;
  padding-right: calc(0.70rem + 35px) !important;
}

.container {
  border: 2px dashed #999;
}


.file-name {
  pointer-events: none !important;
  cursor: default !important;
}

.error {
  color: red;
}

.button {
  margin-top: 0.5em;
}

.button.is-link.is-outlined {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.displayedEmail {
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: whitesmoke;
  width: 80%;
}

.emailContainer {
  margin-bottom: 0.6em;
}




#radioEmail,
#radioLink {
  margin-right: 0.1em;
}

.emailColumn {
  padding-top: 0;
  padding-bottom: 0;
}


.fieldset {
  border: 1px dotted gray;
  padding: 2px;
}

.legend {
  position: relative;
  top: -0.8em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

.centered {
  position: relative; 
}

.upgrade-link {
  position: absolute; 
  top: 3em; 
  right: 0;
  z-index: 10; 
  padding: 0.5em;
 
}


.captcha {
  align-self: end;
}
.wrap-box {
  flex: 1 0 300px;
}