<!--div class="centered">
  <div class="field centeredText">
    <h1 class="title">{{ "welcome" | transloco }}</h1>
    <h2 class="subtitle">{{ "start.sharing" | transloco }}</h2>
    <div class="control">
      <button class="button is-large" (click)="login()">
        {{ "login.with.eulogin" | transloco }}
      </button>
    </div>
  </div>
</div-->
<div class="fluid"><img src="assets/img/all-ec-logo-neg/flag_yellow_low.jpg" alt="European Union"
    class="eu-logo"></div>
<div _ngcontent-kwf-c46="" class="main">
  <div _ngcontent-kwf-c46="" class="wrap">
    <img _ngcontent-kwf-c46="" src="assets/img/logo-circabc-big.png" alt="CIRCABC" class="logo-circabc">

    <img _ngcontent-kwf-c46="" src="assets/img/illu-icons.png" alt="" class="illustration">
    <h1 _ngcontent-kwf-c46=""> {{ "login.title" | transloco }}</h1>

    <h2 _ngcontent-kwf-c46="">
      {{ "login.subtitle" | transloco }}
    </h2>
    <!-- a _ngcontent-kwf-c46="" class="cta cta--homepage">EU Login
    </a -->
    <!---->
    <!---->
    <!-- a _ngcontent-kwf-c46="" class="button">Create EU Login account 
    </a> -->
    <!---->

    <div class="control">
      <button class="button is-large" (click)="login()">
        {{ "login.with.eulogin" | transloco }}
      </button>
    </div>

    <br _ngcontent-kwf-c46="">
    <span _ngcontent-kwf-c46="" class="spacing">or</span>
    <br _ngcontent-kwf-c46="">
    <a _ngcontent-kwf-c46="" class="button no-margin" href="/ui/explore">{{ "login.create.eulogin" | transloco }}
    </a>
  </div>
  <!---->
  <!---->
</div>