<div class="fluid">
  <img
    src="assets/img/all-ec-logo-neg/flag_yellow_low.jpg"
    alt="European Union"
    class="eu-logo"
  />
</div>
<div _ngcontent-kwf-c46="" class="main">
  <div _ngcontent-kwf-c46="" class="wrap">
    <img
      _ngcontent-kwf-c46=""
      src="assets/img/logo-circabc-big.png"
      alt="CIRCABC"
      class="logo-circabc"
    />

    <img
      _ngcontent-kwf-c46=""
      src="assets/img/illu-icons.png"
      alt=""
      class="illustration"
    />
    <h1 _ngcontent-kwf-c46="">{{ "login.title" | transloco }}</h1>

    <h2 _ngcontent-kwf-c46="">
      {{ "login.subtitle" | transloco }}
    </h2>

    <div class="control">
      <a (click)="login()" class="cta cta--homepage">
        {{ "login.with.eulogin" | transloco }}
      </a>
    </div>

    <br />
    <span class="spacing">or</span>
    <br />
    <a class="abutton" (click)="euLoginCreate()"
      >{{ "login.create.eulogin" | transloco }}
    </a>
  </div>
</div>
