@import "../../variables.scss";

.subtitle {
  color: $grey;
}

.main {
  min-width: 1024px;
  background: url(../../img/background-home.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: "Ubuntu", verdana, helvetica, sans-serif;
  font-size: 15px;
  padding: 7vw 33px;
  margin-left: calc(-100vw / 2 + 1200px / 2);
  margin-right: calc(-100vw / 2 + 1200px / 2);
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: "verdana", helvetica, sans-serif;
}

.main h1 {
  font-weight: 300;
  font-size: 24px;
  width: 475px;
  text-align: left;
}

.main h2 {
  font-weight: 300;
  font-size: 15px;
  width: 380px;
  text-align: left;
  line-height: 23px;
}

.fluid {
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;
}

.main .cta {
  margin-top: 30px;
}
.cta--homepage {
  position: relative;
  border: 0;
  padding: 12px 12px 12px 47px;
}
.cta {
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  font-size: 1.3rem;
  background: #8dcb6c;
  background: linear-gradient(to bottom, #8dcb6c 0%, #58c37e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8dcb6c",endColorstr="#58c37e",GradientType=0);
  color: #fff;
  font-family: Ubuntu, verdana, helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 6px rgb(0 0 0 / 45%);
  padding: 12px;
  padding: 1.2rem;
  cursor: pointer;

  &:hover {
    background: rgba(88, 195, 126, 1);
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: #035;
  cursor: pointer;
}

.wrap {
  min-width: 1024px;
  max-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;
}

.main .illustration {
  float: right;
  margin-right: 60px;
  margin-top: 60px;
}

.eu-logo {
  position: relative;
  bottom: -26px;
  height: 56px;
  border: 2px solid #fff;
}

a:hover {
  color: #000;
}

.cta--homepage {
  position: relative;
  border: 0;

  padding: 12px 12px 12px 47px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    width: 35px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("../../img/icon-cadenas.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 3px;
  }
}

.abutton {
  border: 1px solid #76a3ad;
  color: #8dffa2;
  text-transform: uppercase;
  margin-top: 10px;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: Ubuntu, verdana, helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  padding: 1.2rem;
}
.abuttona,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #76a3ad;
  font-size: 13px;
  font-size: 1.3rem;
  color: #035;
  font-family: Ubuntu, Verdana, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  padding: 1.2rem;
  background: transparent;
  font-weight: 500;
}

.abutton:hover {
  border: 1px solid #58c37e;
  background: #58c37e;
  color: #fff;
  text-shadow: 0 0 6px rgb(0 0 0 / 45%);
}
img.logo-circabc {
  width: 25%;
}
