<div class="fluid">
  <img
    src="assets/img/all-ec-logo-neg/flag_yellow_low.jpg"
    alt="European Union"
    class="eu-logo"
  />
</div>
<div class="main">
  <div class="wrap">
    <img
      src="assets/img/circabcShareLogo-v2-white.svg"
      alt="CIRCABC"
      class="logo-circabc"
    />

    <img src="assets/img/illu-icons.png" alt="" class="illustration" />
    <h1>{{ 'login.title' | transloco }}</h1>

    <h2>
      {{ 'login.subtitle' | transloco }}
    </h2>

    <div class="control">
      <a #aClick (click)="login()" class="cta cta--homepage">
        {{ 'login.with.eulogin' | transloco }}
      </a>
    </div>

    <br />
    <span class="spacing">or</span>
    <br />
    <a class="abutton" (click)="euLoginCreate()"
      >{{ 'login.create.eulogin' | transloco }}
    </a>
  </div>
</div>
