<div class="field is-grouped" *ngIf="!isLoading || !isShowProgress">
  <div class="control" [class.is-expanded]="isFileHasPassword">
    <input
      *ngIf="isFileHasPassword"
      class="input is-info"
      type="password"
      placeholder="Type password here"
      [(ngModel)]="inputPassword"
    />
  </div>
  <div class="control">
    <a class="button is-link" 
    (click)="download()">
      Download
    </a>
  </div>
</div>
<div *ngIf="isLoading && isShowProgress">
  {{ percentageDownloaded }}%
  <progress
    class="progress is-success"
    value="{{ percentageDownloaded }}"
    max="100"
    >{{ percentageDownloaded }}%</progress
  >
</div>