<div class="container">
  @if (fileInfoUploaderArray && fileInfoUploaderArray.length === 0) {
    <div class="subtitle">
      {{ 'no.uploaded.files' | transloco }}
    </div>
  }
  @for (fileInfoUploader of fileInfoUploaderArray; track fileInfoUploader) {
    <app-uploaded-file-row
      [displayAsUploader]="displayAsUploader"
      [displayAsAdministrator]="displayAsAdministrator"
      [fileToDisplay]="fileInfoUploader"
      (refreshParent)="update()"
    ></app-uploaded-file-row>
  }
  @if (hasNextPage || hasPreviousPage) {
    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination"
    >
      <a
        [style.visibility]="hasPreviousPage ? 'visible' : 'hidden'"
        class="pagination-previous button"
        (click)="previousPage()"
        >{{ 'previous' | transloco }}</a
      >
      <ul class="pagination-list">
        <a
          class="pagination-link is-current"
          aria-label="Page number"
          aria-current="page"
          >{{ pageNumber }}</a
        >
      </ul>
      <a
        [style.visibility]="hasNextPage ? 'visible' : 'hidden'"
        class="pagination-next button"
        (click)="nextPage()"
        >{{ 'next' | transloco }}</a
      >
    </nav>
  }
</div>
