<div class="container">
  <div
    *ngIf="fileInfoUploaderArray && fileInfoUploaderArray.length === 0"
    class="subtitle"
  >
    {{ "no.uploaded.files" | transloco }}
  </div>
  <app-uploaded-file-row
    *ngFor="let fileInfoUploader of fileInfoUploaderArray"
    [displayAsUploader]="displayAsUploader"
    [displayAsAdministrator]="displayAsAdministrator"
    [fileToDisplay]="fileInfoUploader"
    (refreshParent)="update()"
  ></app-uploaded-file-row>
  <nav
    class="pagination is-centered"
    role="navigation"
    aria-label="pagination"
    *ngIf="hasNextPage || hasPreviousPage"
  >
    <a
      [style.visibility]="hasPreviousPage ? 'visible' : 'hidden'"
      class="pagination-previous button"
      (click)="previousPage()"
      >{{ "previous" | transloco }}</a
    >
    <ul class="pagination-list">
      <a
        class="pagination-link is-current"
        aria-label="Page number"
        aria-current="page"
        >{{ pageNumber }}</a
      >
    </ul>
    <a
      [style.visibility]="hasNextPage ? 'visible' : 'hidden'"
      class="pagination-next button"
      (click)="nextPage()"
      >{{ "next" | transloco }}</a
    >
  </nav>
</div>
