<app-add-recipients-modal (pullChanges)="ngOnInit()"></app-add-recipients-modal>
<div class="container">
  <div
    *ngIf="fileInfoUploaderArray && fileInfoUploaderArray.length === 0"
    class="subtitle"
  >
    No uploaded files
  </div>
  <app-uploaded-file-row
    *ngFor="let fileInfoUploader of fileInfoUploaderArray"
    [displayAsUploader]="displayAsUploader"
    [displayAsAdministrator]="displayAsAdministrator"
    [fileToDisplay]="fileInfoUploader"
    (destroyRow)="destroyOneFile($event)"
  ></app-uploaded-file-row>
</div>
