<h1 class="title is-2">CIRCABC Share Privacy statement</h1>
<h2 class="title is-3">General</h2>
<p>
  CIRCABC Share, as an application developed by the Commission of the European
  Union, is committed to user privacy.
</p>

<h2 class="title is-3">Information Collection and Use</h2>
<h3 class="title is-4">What information is stored?</h3>
<p>
  While using the Service, we may ask you to provide us with certain personally
  identifiable information that can be used to contact or identify you. Personal
  information may include, but is not limited, to your full name and email
  address.
</p>
<h4 class="title is-5">
  Personal data collected for the use of the CIRCABC Share platform
</h4>
<h5 class="title is-6"> Credentials </h5>
<p>
  To be identified by the system, the user needs a couple login / password,
  which is managed by the EULogin service. For further information on how
  EULogin is processing your personal data, please refers to the EULogin privacy
  statement.
</p>

<h5 class="title is-6"> User data </h5>
<p>
  To be identified by the system, the user needs a couple login / password,
  which is managed by the EULogin service. For further information on how
  EULogin is processing your personal data, please refers to the EULogin privacy
  statement.
</p>
<h4 class="title is-5"> Personal data collected via online file sharing </h4>
<p>
  The European Commission is not responsible for the privacy policies or
  practices carried out by the organisation using the Service, as a platform, to
  share documents. All personal data collected within such a usage will be
  processed by and under the responsibility of the survey owner or survey
  owner’s organisation. Individual and organisation using the Service to
  organize a survey/form have the legal obligation to create and publish their
  own Privacy Statement when collecting personal data.
</p>
<h3 class="title is-4"> Why do we store and process your data? </h3>
<p>
  We retrieve and store your personal data for enabling you, as a user, to
  connect to the CIRCABC Share application and use the Service for creating and
  publishing online questionnaires. Your contact details (email address), first
  name and last name can also be used to contact you back for support and
  quality management purposes.
</p>
<h3 class="title is-4"> How long are the data stored? </h3>
<p>
  EC staff member (internal user): As long as the user is an EC staff member,
  his personal settings and downloaded content remain available. A user can at
  any time ask the CIRCABC Share team to terminate his account if he no longer
  wishes to use the Service. The corresponding account, all associated data, and
  all shares and results will be permanently deleted.
</p>
<h3 class="title is-4"> Whom are your data disclosed to? </h3>
<p>
  The staff managing the CIRCABC Share application have access to your personal
  data.
</p>
<h3 class="title is-4"> How to access or modify your data? </h3>
<p>
  Your first name, last name and email address are taken from EULogin and can
  only be modified there.
</p>
<h3 class="title is-4"> Log Data </h3>
<p>
  We collect information that your browser sends when you use CIRCABC Share
  ("Log Data").
</p>
