<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Count</th>
            <th>Uploader</th>
            <th>Filename</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let monitoringDetail of monitoringDetails">
            <ng-container *ngIf="monitoringDetail.status === reportStatus">
                <td> {{ monitoringDetail.datetime | date:'yy-MM-dd HH:mm' }}</td>
                <td> {{ formatString(monitoringDetail.event) }}</td>
                <td>{{ monitoringDetail.counter }}</td>
                <td> <span *ngIf="monitoringDetail.uploader_email">{{ monitoringDetail.uploader_name }} ({{ monitoringDetail.uploader_email }})</span></td>
                <td> <span *ngIf="monitoringDetail.filename">{{ monitoringDetail.filename }}</span></td>
                <td class="icon-cell"><a *ngIf="monitoringDetail.filename" (click)="tryDownload(monitoringDetail.fileId)" target="_blank" rel="noopener noreferrer"
                        title="Download"><i class="material-icons">download</i></a>
                </td>
            

                <td>
                    <button class="button" *ngIf="reportStatus === 'WAITING' || reportStatus === 'DENIED'"
                        (click)="approveReport(monitoringDetail)">
                        <i class="material-icons">check</i>&nbsp;Approve
                    </button>
                    <button class="button" *ngIf="reportStatus === 'WAITING' || reportStatus === 'APPROVED'"
                        (click)="denyReport(monitoringDetail)">
                        <i class="material-icons">block</i>&nbsp;Deny
                    </button>
                    <button class="button" (click)="delete(monitoringDetail)">
                        <i class="material-icons">delete</i>&nbsp;Delete
                    </button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>