<mat-tab-group>
  <mat-tab label="Waiting">
    <app-monitoring-tab
      [reportStatus]="'WAITING'"
      (deleteEvent)="delete($event)"
      (approveEvent)="approveReport($event)"
      (denyEvent)="denyReport($event)"
      [monitoringDetails]="monitoringDetails"
    ></app-monitoring-tab>
  </mat-tab>

  <mat-tab label="Approved">
    <app-monitoring-tab
      [reportStatus]="'APPROVED'"
      (deleteEvent)="delete($event)"
      (approveEvent)="approveReport($event)"
      (denyEvent)="denyReport($event)"
      [monitoringDetails]="monitoringDetails"
    ></app-monitoring-tab>
  </mat-tab>

  <mat-tab label="Denied">
    <app-monitoring-tab
      [reportStatus]="'DENIED'"
      (deleteEvent)="delete($event)"
      (approveEvent)="approveReport($event)"
      (denyEvent)="denyReport($event)"
      [monitoringDetails]="monitoringDetails"
    ></app-monitoring-tab>
  </mat-tab>
</mat-tab-group>
