
@import '../../../variables.scss';

.ec-logo {
    height: 48px;

    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .eu-logo {
    height: 48px;
    border: 1px solid #fff;
    

    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .app-logo {
    padding: 4px 10px;
    top: -5px;
    position: relative;


    @media screen and (max-width: $break-small) {
      top: 10px;
    }
  }
  .demo {
    color: white;
    font-size: large;
    font-weight: bold;
  }

  @media screen and (max-width: $break-tiny) {
    .logo {
      display: none;
    }
  }
