.avatar {
  display: inline-block;
  vertical-align: middle;
  background: white;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 59px;
  margin-left: 1em;
}

.personalMenu {
    height: 100%;
}