<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" style="padding:0 10px 0 10px; background-color:#2C3E50">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_table-max" style="max-width:600px">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                        </tr>
                        <tr class="x_presentation-header" style="border-bottom:4px solid #8dcb6c; padding-top:15px">
                          <td align="center">
                            <!-- Logo -->
                            <img src="cid:mailHeaderEULogoCid"
                              style="max-width: 600px; max-height: 142px; width: 100%;"
                              border="0" alt="CIRCABC">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" align="center" style="padding:0 10px 0 10px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_table-max" style="max-width:600px">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left">
                                    <!-- Title -->
                                    <h1 style="font-family:Helvetica,Arial,sans-serif; font-size:28px; font-weight:normal; color:#2C3E50; margin:0">
                                      CIRCABC Share notification
                                    </h1>
                                  </td>
                                </tr>
                                <!-- Disclaimer Block -->
                                <tr>
                                  <td>
                                    <hr style="margin:24px 0 10px 0; border: 0; border-top: 1px solid #ccc;">
                                    <b>Disclaimer</b><br>
                                    <i>
                                      The European Commission is not responsible for the content of the document shared using the CIRCABC Share service. The content remains the sole responsibility of the sender. The use of the CIRCABC Share service does not imply any recommendation, endorsement, or validation by the European Commission.<br>
                                      Please be careful of potential viruses or phishing attempts when downloading or accessing shared documents.
                                    </i>
                                    <hr style="margin:24px 0 24px 0; border: 0; border-top: 1px solid #ccc;">
                                  </td>
                                </tr>
                                <!-- End Disclaimer Block -->
                                <tr>
                                  <td align="left"
                                    style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:25px; color:#2C3E50">
                                    Dear user,<br>
                                    <br>
                                    Please be informed that
                                    <span th:text="${uploader}">Uploader</span> shared<br>
                                    "<span th:text="${filename}">Filename</span>" with you.<br>
                                    <br>
                                    The file expires on <span th:text="${expdate}">Expiration Date</span><br>
                                    <br>
                                    You may download it here :<br>
                                    <br>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <table border="0" cellspacing="0" cellpadding="0" class="x_mobile-btn-container">
                                              <tbody>
                                                <tr>
                                                  <td align="center" bgcolor="#8dcb6c" style="border-radius:3px">
                                                    <a th:href="${link}"
                                                      title="Download"
                                                      class="x_mobile-btn"
                                                      style="font-family:Helvetica,Arial,sans-serif; font-size:16px; color:#ffffff; text-decoration:none; border-radius:3px; padding:15px 25px; border:1px solid #8dcb6c; display:inline-block">
                                                      Download &raquo;
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <br>
                                    <span th:if="${message != null}">
                                      He/She also left this message:<br>
                                      "<em th:text="${message}">Message</em>"
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" height="75" style="height:75px; font-size:0">&nbsp;</td>
        </tr>
        <!-- Footer -->
        <tr>
          <td align="center" style="padding:0 10px 0 10px; background-color:#2C3E50">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_table-max" style="max-width:600px">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:25px; color:#fff">
                                    Best regards,<br>
                                    The CIRCABC team<br>
                                    <a href="https://circabc.europa.eu"
                                      target="_blank" rel="noopener noreferrer" title="CIRCABC"
                                      style="color:#ffffff">https://circabc.europa.eu</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" height="25" style="height:25px; font-size:0">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- End Footer -->
      </tbody>
    </table>
  </div>
</body>
</html>
