<div class="columns">
  <div
    *ngIf="showDownloadArrow"
    class="column is-1-desktop is-1-tablet is-2-mobile doesntMove"
  >
    <a (click)="display()">
      <figure class="icon is-large ">
        <fa-icon [icon]="faChevronLeft" class="fas fa-3x"></fa-icon>
      </figure>
    </a>
  </div>
  <div
    class="column is-one-fifth-desktop is-one-third-tablet is-9-mobile doesntMove {{
      enterScreenOrLeaveScreen
    }}"
  >
    <div class="box">
      <article class="media">
        <a class="delete" (click)="hide()"></a>
        <div class="media-content">
          <u><b class="downloads">Downloads</b></u>
          <div
            class="downloadsContainer"
            *ngFor="let nameAndPercentage of downloadsInProgress; let i = index"
          >
            <div>
              <p class="heading">
                <fa-icon
                  *ngIf="getHasError(i)"
                  [icon]="faTimes"
                  class="fas fa-1x faError"
                ></fa-icon>
                {{
                  nameAndPercentage.fileName.length > 25
                    ? (nameAndPercentage.fileName | slice: 0:25) + ".."
                    : nameAndPercentage.fileName
                }}
              </p>
              <p class="title">
                <progress
                  class="progress {{ getIsSucessOrIsError(i) }} is-small"
                  value="{{ getDownloadProgress(i) }}"
                  max="100"
                  >nameAndPercentage.percentage</progress
                >
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
