
@import '../../variables.scss';
.button.is-fullwidth {
  margin-top: 1em;
}

.subtitle {
  color: $grey;
}


.action-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}