<div class="centered">
  <div class="centeredText">
    <h1 class="title">Download a shared file</h1>
    <h2 class="subtitle">
      Download
      {{ fileName.length > 25 ? (fileName | slice: 0:25) + ".." : fileName }}.
    </h2>
    <p *ngIf="isFilePasswordProtected">The file is protected by a password.</p>
    <app-download-button
      [fileId]="fileId"
      [isFileHasPassword]="isFilePasswordProtected"
      [fileName]="fileName"
      [isShowProgress]="true"
    ></app-download-button>
  </div>
</div>
