<footer class="ecl-footer-core">
  <div class="ecl-container ecl-footer-core__container">
    <div class="ecl-footer-core__section ecl-footer-core__section1">
      <a href="#" class="ecl-footer-core__title ecl-link ecl-link--standalone"
        >EUShare</a
      >
      <div class="ecl-footer-core__description">
        This site is managed by the Directorate-General for Communication
      </div>
    </div>
    <div
      class="ecl-footer-core__section ecl-footer-core__section2 ecl-footer-core__section--separator"
    >
      <ul class="ecl-footer-core__list ecl-footer-core__list--columns">
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Strategy</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >About the European Commission</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Business, Economy, Euro</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Live, work, travel in the EU</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Law</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Funding, Tenders</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Research and innovation</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Energy, Climate change, Environment</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Education</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Aid, Development cooperation, Fundamental rights</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Food, Farming, Fisheries</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >EU regional and urban development</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Jobs at the European Commission</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Statistics</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >News</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Events</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Publications</a
          >
        </li>
      </ul>
    </div>
    <div class="ecl-footer-core__section ecl-footer-core__section3">
      <ul class="ecl-footer-core__list">
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Contact the European Commission</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after"
            ><span class="ecl-link__label"
              >Follow the European Commission on social media</span
            >
            <svg
              focusable="false"
              aria-hidden="true"
              class="ecl-link__icon ecl-icon ecl-icon--xs"
            >
              <use
                xlink:href="/component-library/dist/media/icons.1dbe9812.svg#ui--external"
              ></use></svg>
          ></a>
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Resources for partners</a
          >
        </li>
      </ul>
    </div>
    <div class="ecl-footer-core__section ecl-footer-core__section4">
      <ul class="ecl-footer-core__list">
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Language policy</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Cookies</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Privacy policy</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Legal notice</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Brexit content disclaimer</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
