<footer class="ecl-footer-core">
  <div class="ecl-container ecl-footer-core__container">
    <div class="ecl-footer-core__section ecl-footer-core__section1">
      <a href="#" class="ecl-footer-core__title ecl-link ecl-link--standalone"
        >EUShare</a
      >
      <div class="ecl-footer-core__description">
        This site is managed by the Directorate General for Informatics
      </div>
    </div>
    <div
      class="ecl-footer-core__section ecl-footer-core__section2 ecl-footer-core__section--separator linksSeparator"
    >
      <ul class="ecl-footer-core__list ecl-footer-core__list--columns">
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Privacy Statement</a
          >
        </li>
        <li class="ecl-footer-core__list-item">
          <a
            href="/home"
            class="ecl-footer-core__link ecl-link ecl-link--standalone"
            >Support</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
