<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add recipient to <br> <strong>
        {{ modalFileName.length > 25
          ? (modalFileName | slice: 0:25) + "..."
          : modalFileName }}
      </strong></p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="sharedWithFormGroup">
        <div class="field">
          <label class="label">How to share?</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input
                    type="radio"
                    required
                    formControlName="sendEmail"
                    value="True"
                    (click)="changeByEmailOrLink(true)"
                  />Email
                </label>
                <label class="radio">
                  <input
                    type="radio"
                    required
                    formControlName="sendEmail"
                    value="False"
                    (click)="changeByEmailOrLink(false)"
                  />Link
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="addRecipientsByEmailOrByLink">
          <app-email-input formControlName="email" [showAddRecipient]=false></app-email-input>
          <app-message-text-area
          [isOptional]=false
          formControlName="message"
          ></app-message-text-area>
        </div>
        <div *ngIf="!addRecipientsByEmailOrByLink">
          <app-link-input formControlName="name"></app-link-input>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button"
        (click)="onSubmit()"
        [class.is-loading]="uploadInProgress"
        type="submit"
        [disabled]="!sharedWithFormGroup.valid"
      >
        Submit
      </button>
      <button
        class="modal-close is-large"
        (click)="closeModal()"
        aria-label="close"
      ></button>
    </footer>
  </div>
</div>
